.wrapperInnovation {
  height: 75%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.wrapperInnovationImg {
  height: 65%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.innovationImg {
  width: 100%;
  transition: 1s;
  display: block;
}

.innovationImg:hover {
  transform: scale(1.2);
}

.linkInnovation:hover {
  transition: 0s;
  color: black;
}