.wrapperAdditionalInformation {
  height: 90%;
  width: 100%;
}

.additionalInformation {
  height: 100%;
  width: 100%;
  background-image: url("../../icons/AdditionalInformation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}