.wrapperInnovationNewsBlog {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.innovationNewsBlog {
  width: 80%;
  display: flex;
  justify-content: space-between;
}